$twitter-blue: rgba(29,161,242,1.00)
$twitter-link-blue-text: rgb(27, 149, 224)
$twitter-hover-dark-blue: rgb(26, 145, 218)
$twitter-hover-blue: rgba(29, 161, 242, 0.1)
$twitter-black: rgba(0,0,0,1.00)
$twitter-white: rgb(255, 255, 255)